{
    "extends": [
        "finn",
        "finn/node",
        "finn/es-modules",
        "finn-prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 8
    },
    "rules": {
        "no-console": 0
    }
}
