{
    "extends": [
        "airbnb-typescript/base",
        "prettier"
    ],
    "plugins": ["prettier"],
    "parserOptions": {
        "ecmaVersion": 8,
        "project": ["./jsconfig.json", "./tsconfig.json"]
    },
    "rules": {
        "no-console": 0,
        "no-plusplus": "off",
        "max-len": ["error", {
            "code": 100,
            "ignoreTrailingComments": true,
            "ignoreUrls" :true
        }],
        "class-methods-use-this": "off"
    }
}
